:root {
    /* TEXT */
    --txt-primary: #ffffff;
    --txt-secondary: #444b5a;

    /* BG */
    --bg-primary: hsl(222, 26%, 31%);
    --bg-secondary: hsl(223, 31%, 20%);
    --bg-extra: hsl(224, 36%, 15%);

    /* BTN */
    --btn-bg: #eae3dc;
    --btn-shadow: #b4a597;

    --btn-red: #d03f2f;
    --btn-red-shadow: #93261a;

    --btn-grayish: #637097;
    --btn-grayish-shadow: #404e72;
}

* {
    font-family: "Spartan", sans-serif;
    text-align: center;
}

/* Elements */
body,
h1,
h2,
h3 {
    margin: 0;
    padding: 0;
}

body {
    height: 95vh;

    margin: auto;

    display: flex;
    align-items: center;
    justify-content: center;

    background: var(--bg-primary);
    color: var(--txt-primary);
}

nav {
    display: flex;
    align-self: center;
    justify-content: space-between;

    padding: 25px;
}
nav div p {
    margin: 18px 15px auto auto;
    font-size: small;
}
nav div {
    display: flex;
}

footer div {
    position: absolute;
    left: 0;
    top: 35vh;
    writing-mode: vertical-lr;
}

main {
    display: flex;
    justify-content: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
/* input[type="number"] {
    -moz-appearance: textfield;
} */

button {
    background: var(--btn-bg);
    box-shadow: 0 3.5px 0 0 var(--btn-shadow);

    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

/* Class */
.container {
    margin: auto;
}
.btn-red {
    color: var(--txt-primary);
    background: var(--btn-red);

    box-shadow: 0 3.5px 0 0 var(--btn-red-shadow) !important;
}
.btn-blue {
    color: var(--txt-primary);
    background: var(--btn-grayish);

    box-shadow: 0 3.5px 0 0 var(--btn-grayish-shadow) !important;
}

/* ID */
#switch {
    display: flex;
}
#switch > div {
    display: flex;
    flex-direction: column;
    place-items: center;
}
#switch > div input,
#switch > div label {
    cursor: pointer;
}

#switch > div {
    position: relative;
}

#result {
    display: flex;
    text-align: end;
    height: 65px;

    padding: 15px 25px;
    margin: 0 25px;

    border-radius: 8px;
    border: none;

    background: var(--bg-extra);
    color: var(--txt-primary);

    font-size: 2rem;
    overflow: none;
}
#result:focus {
    outline: none;
}

#buttons {
    display: grid;
    grid-template: auto / repeat(4, 1fr);

    margin: 25px;
    padding: 15px;
    background: var(--bg-secondary);

    border-radius: 16px;
}
#buttons button {
    height: 60px;

    border: none;
    border-radius: 6px;

    margin: 6px;
    font-size: 1.5rem;
}
#buttons button:hover {
    position: relative;
    filter: brightness(0.75);
    bottom: 3px;
}
#buttons button.btn-l {
    font-size: 1.1rem;
}
#buttons button:nth-child(n + 17) {
    width: auto;
}
#buttons button:nth-child(17) {
    grid-column: 1 / span 2;
}
#buttons button:nth-child(18) {
    grid-column: 3 / span 2;
}

/* Radio input */
[type="radio"] {
    display: none;
}

#switch {
    position: relative;
    top: 10px;
    bottom: 0;
    left: 0;
    right: 0;

    margin-left: 10px;
}
#switch label span {
    position: relative;
    bottom: 20px;

    font-size: 0.75em;
}

label {
    position: relative;

    width: 25px;
    height: 25px;
    background-color: var(--bg-secondary);
}

label::before,
label::after {
    margin: auto;

    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
label::before {
    content: "";

    height: 15px;
    width: 15px;

    background: var(--btn-red);
    border-radius: 100%;

    transition: all 0.5s;
}

input[type="radio"] + label::before {
    transform: scale(0);
}
input[type="radio"]:checked + label::before {
    transform: scale(1);
}

label:nth-child(2) {
    border-radius: 100% 0 0 100%;
}
label:nth-child(6) {
    border-radius: 0 100% 100% 0;
}

/* @Query */

@media (max-width: 900px) {
    body {
        max-width: 375px;
    }

    #result {
        width: 285px;
    }
    #buttons,
    #result {
        margin-left: 0;
        margin-right: 0;
    }
    #buttons button {
        min-width: 60px;
    }
}

@media (min-width: 900px) {
    body {
        max-width: 475px;
    }
    #result {
        max-width: 375px;
    }

    #buttons button {
        height: 45px;
        margin: 10px;
    }

    nav div p {
        font-size: 10px;
    }

    #switch {
        top: 13px;
    }
    #switch label span {
        bottom: 20px;
        font-size: 0.65em;
    }

    label {
        width: 20px;
        height: 20px;
    }
    label::before {
        height: 12.5px;
        width: 12.5px;
    }
}
